body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: 'Pangolin';
}

button {
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10 px;
}

.page-nav {
    background-color: #eb0dcd;
    border: 5px solid rgb(10, 10, 10);
    position: sticky;
    text-align: center;
}

.page-nav h1 {
    margin: 20px;
}

.button-checkout {
    background-color: white;
    color: black;
    border: 2px solid #000503; 
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

.button-checkout:hover {
    background-color: #000; 
    color: white;
}

.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product-container {
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: rgb(193, 146, 236);
    transition: transform 0.3s;
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
  }

.product-container img {
    width: 300px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;
}

.product-category {
    font-size: 18px; /* Cambia este tamaño de fuente */
    color: #000; /* Cambia este color de texto */
}
  
.button-add {
    background-color: white;
    color: black;
    border: 2px solid #f8f8f8; /* Green */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}